.sidebar {
    background: #ccc;
    font-family: monospace;
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
}

.event {
    padding: 0.75em 1em;
    border: 1px solid #333;
}
